<form action="/adicionar_usuario" method="post">
    <input type="text" name="username" placeholder="nombre del usuario">
    <br>
    <input type="text" name="password" placeholder="contraseña">
    <br>
    <input type="text" name="paterno" placeholder="paterno">
    <br>
    <input type="text" name="materno" placeholder="materno">
    <br>
    <input type="text" name="nombre" placeholder="nombre">
    <br>
    <input type="number" name="role" placeholder="role">
    <br>
    <input type="date" name="fecha_creacion" placeholder="fecha Creacion">
    <br>
    <button type="submit">
        guardar
    </button>
</form>